@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
}
a:hover {
  color: #f4f4f4;
}
.navbar {
  background-color: #188a9d;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link {
  margin-right: 1rem;
}
.nav-link:hover {
  background-color: #f4f4f4;
  color: #188a9d;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background-color: #fff;
}

/* header */
.header {
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;

}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: #0062cc52;
}
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2rem;
}
.description h1 {
  color: #2574c9;
  font-weight: 900;
}
.description p {
  color: #124272;
  font-size: 14px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid #188a9d;
  background: #188a9d;
  color: #fff;
}
/* about section */
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: #188a9d;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
  padding-right: 4rem;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}
/*  */
.portfolio {
  margin: 4em 0;
  position: relative;
}

.portfolio h1 {
  color: #188a9d;
  margin: 2em;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
  object-fit: cover;
  position: relative;
  /* pointer-events: none; */
}
.portfolio .portfolio-img {
  position: relative;
}
.portfolio img + .overlay-portfolio {
  opacity: 0;
}
.portfolio img:hover + .overlay-portfolio {
  opacity: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 15rem;
  width: 92%;
  margin: 14px;
  background: #0062cc52;
  /* text-align: center; */
  font-size: 28px;
  color: #188a9d;
  font-weight: bold;
  display: grid;
  place-items: center;
  /* display: none; */
}

/*  */

.blog {
  margin: 4em 0;
  position: relative;
}
.blog h1 {
  color: #188a9d;
  margin: 2em;
}
.blog .card {
  box-shadow: 0 0 20px #ccc;
}
.blog .card img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}
.blog .card-img {
  position: relative;
}
.blog .card .brand-logo {
  position: absolute;
  bottom: -45px;
  left: 20px;
  height: 120px;
}
.blog .card .brand-logo img {
  height: 120px;
  border-radius: 50%;
}
.blog .card-title {
  color: #188a9d;
}
.blog .card-body {
  padding: 1em;
}
.blog .card-body h4 {
  margin-top: 40px;
}
/*  */
.team {
  margin: 4em 0;
  position: relative;
}
.team h1 {
  color: #188a9d;
  margin: 2em;
}
.team .item {
  position: relative;
}
.team .des {
  background: #188a9d;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 93%;
  transition: 0.3s ease-in-out;
}
.team .item:hover .des {
  height: 100%;
  background: #188a9d7d;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-bottom-left-radius: 0;
}
/*  */
.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: #188a9d;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #188a9d;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}

/* responsive.page */
.btn-danger,.show>.btn-danger.dropdown-toggle,.btn-danger:not(:disabled):not(.disabled):active{
  box-shadow: none;
    color: #eee;
    background: #2d4a4e;
    border: none;
  
}

.btn-danger:hover{
  background-color: #10828c;
}


.btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus ,.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:focus {
  box-shadow: none;
}